@model List<AcademiaFutbolSalazar.Models.Entrenador>

<div class="container mt-4">

    <h2 class="mb-4 text-center" style="color: #FFD700;">Entrenadores</h2>
    <a class="btn btn-danger mb-3" href="/Entrenador/Create">
        + Nuevo Entrenador
    </a>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card h-100 shadow bg-dark">

                    <img src="@item.ImagenUrl"
                         class="card-img-top"
                         style="height:250px; width:100%; object-fit:cover; object-position:top;" />

                    <div class="card-body">
                        <h5 class="card-title" style="color: #FFD700;">@item.Nombre @item.Apellido</h5>

                        <p class="card-text text-white">
                            Especialidad: @item.Especialidad <br />
                            Categoría: @item.Categoria <br />
                            Celular: @item.Celular
                        </p>

                        <a href="/Entrenador/Edit/@item.Id"
                           class="btn btn-warning btn-sm">Editar</a>

                        @if (Context.Session.GetString("Especialidad") == "Entrenador General")
                        {
                            <a href="/Entrenador/Delete/@item.Id"
                               class="btn btn-danger btn-sm">Eliminar</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>